extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          .dishes
            h2 List Of Dishes 
            each dish in dishes
              .dish
                .course CourseName: #{dish.course}
                if dish.userName
                  .dishUser UserName: #{dish.userName}
                else
                  .dishUser
                if dish.name
                  .dishName DishName: #{dish.name}
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          h2 Add Dishes to your Event
          form(action='/event/' + eventId + '/dish/create' method='post')
            .form-group
              p Enter a Course - either an Entree, Main, Salad, or Dessert
                label( for="course") 
                input(type="text" class="form-control" name="course" id="course" placeholder="Type in course..")
            .form-group
              p Enter the specific name of the dish
                label( for="dishname") 
                input(type="text" class="form-control" name="dishname" id="dishname" placeholder="Type in the dish name..")
      
            button.btn.btn-primary.btn-lg(type='submit') Add Dish
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          br
          br
          p Click done when you have finished adding dishes
          form(action='/event/' + eventId + '/guest/new' method='get')
            button.btn.btn-success.btn-lg(type='submit') Done
