extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Create a New DishOut Event
        p Fill in the forms below to create an Event
        
        form(action='/event/create' method='post')
          .form-group.required
            label.control-label Name:
            input#id_name.form-control(type="text" class="form-control" required='required', name="name", placeholder="Enter the name of the event here...")
          .form-group.required
            label.control-label Date:
            input#date.form-control(type="text" class="form-control" required='required', name="date", placeholder="Enter the date of the event here...")
            script.
              $('#date').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true,
                    todayHighlight: true
                  })
          .form-group.required
            label.control-label Time:
            input#time.form-control(type="text" class="form-control input-small" required='required', name="time", placeholder="Enter the time of the event here")
            script. 
              $('#time').timepicker()
          .form-group.required
            label.control-label Address of Event:
            input#id_location.form-control(type="text" class="form-control" name="location", required='required', placeholder="Enter the location of the event...")
          .form-group
            label( for="description") Description:
            input(type="text" class="form-control" name="description" id="Description" placeholder="Enter a brief description about the event...")
          .form-group
            label( for="bitcoinAddress") Bitcoin Address:
            input(type="text" class="form-control" name="bitcoinAddress" id="bitcoinAddress" placeholder="Please enter a bitcoin address for tips (optional)")
                      
          button.btn.btn-success.btn-lg(type='submit') Next -->
          br
          br

      
