extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          h1 Dishes
          .panel.panel-default
            .panel-heading Current Event Dishes
            table.table.table-hover
              thead
                tr
                  th Course
                  th Dish Name
                  th Who's Bringing It?
              tbody
              if dishes.length
                each dish in dishes
                  tr 
                    td #{dish.course}
                    td #{dish.name}
                    td #{dish.userName}
              else
                tr
                  td There are no suggested Dishes.
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          h2 Add Dishes to your Event
          form(action='/event/' + eventId + '/dish/create' method='post')
            .form-group
              label( for="course") Enter a Course - either an Entree, Main, Salad, or Dessert
              input(type="text" class="form-control" name="course" id="course" placeholder="Type in course..")
            .form-group
              label( for="dishname") Enter the specific name of the dish
              input(type="text" class="form-control" name="dishname" id="dishname" placeholder="Type in the dish name..")
              input(type="hidden" class="form-control" name="eventId" value=eventId)
            button.btn.btn-primary.btn-lg(type='submit') Add Dish
    .row
      .col-md-12
        .col-md-8.col-md-offset-2
          br
          h3 Click done to finish adding dishes
          form(action='/event/' + eventId + '/guest/new' method='get')
            button.btn.btn-success.btn-lg(type='submit') Done
