extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Add a Dish to your Event
        form(action='/event/:id/guest/new' method='post')
          p Select a Course from the Dropdown Menu
            .dropdown
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') 
                  | ...
                  span.caret
                |   
                ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                  li
                    a(href='#') Entree
                  |     
                  li
                    a(href='#') Main
                  |     
                  li
                    a(href='#') Salad
                  |     
                  li
                    a(href='#') Dessert

          .form-group
            p Enter the specific name of the dish
              label( for="name") Name:
              input(type="text" class="form-control" name="name" id="name" placeholder="Type in the dish name..")
    
          button.btn.btn-primary.btn-lg(type='submit' name='') Submit Dish
          
