extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 Invite Guests
        .panel.panel-default
          .panel-heading Current List of Guests
          ul.list-group
          if guests.length
            each guest in guests
              li.list-group-item #{guest.name}
          else
            li.list-group-item No guests have been invited yet.
                            
    .row
      .col-md-8.col-md-offset-2
        form(action='/event/' + eventId + '/guest/create' method='post')
          .form-group
            p Enter email or name of the person you want to invite
              label( for="userSearch")
              input(type="text" class="form-control" name="userSearch" id="userSearch" placeholder="guest email or name...")
            button.btn.btn-primary.btn-lg(type='submit') Invite Guest

    .row
      .col-md-8.col-md-offset-2
        form(action='/event/' + eventId + '/show' method='get')
          button.btn.btn-success.btn-lg(type='submit') Next -->
        br
