extends layout

block content
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    .row
      #blackNav.col-md-12
      // Navigation
      nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
              i.fa.fa-bars

            a.navbar-brand.page-scroll(href='#page-top')
              i.fa.fa-play-circle

              span.light
              |  DishOut
          // Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
              // Hidden li included to remove active class from about link when scrolled up past about section
              li.hidden
                a(href='#page-top')

              li
                a.page-scroll(href='#about') About

              li
                a.page-scroll(href='#login') Login

              li
                a.page-scroll(href='#signup') Signup

          // /.navbar-collapse
        // /.container
      // Intro Header
      header.intro
          .container
            .row
              .col-md-8.col-md-offset-2
                #homeTitle.brand-heading DishOut

                p.intro-text
                  | 'The app that makes sure no one brings the same damn thing
                  br
                  | to your next event.'

                a.btn.btn-circle.page-scroll(href='#about')
                  i.fa.fa-angle-double-down.animated
            .row
              .col-md-12
                .col-md-4.col-md-offset-4
                  .panel.panel-default
                    .panel-heading
                      h3 Sign in to DishOut
                      .panel-body
                        form(method='post', action='/login')
                          .form-group
                            label(for='email') Email address
                            input#exampleInputEmail1.form-control(type='email', name='email' value='', placeholder='Email')
                          .form-group
                            label(for='password') Password
                            input#exampleInputPassword1.form-control(type='password', name='password', value='', placeholder='Password')
                            p
                            button.btn.btn-default(type='submit' name='commit' value='Login') Login
                            a(href='/auth/facebook')
                                img(border='0', alt='fb', src='http://gratitudebucket.com/grateful/assets/img/facebook_login_1.png', width='220', height='100')

                  .panel.panel-default
                    .panel-heading
                      h3 New to DishOut? Register Here
                      .panel-body
                        form(method='post', action='/signup')
                          .form-group
                            label(for='signupname') Your Name
                            input#signupname.form-control(type='text', name='name' value='', placeholder='Name')
                          .form-group
                            label(for='signupemail') Email Address
                            input#signupemail.form-control(type='email', name='email' value='', placeholder='Email')
                          .form-group
                            label(for='signuppassword') Password
                            input#signuppassword.form-control(type='password', name='password', value='', placeholder='Password')
                            p
                            button.btn.btn-default(type='submit' name='commit' value='Sign Up') Sign Up


      // About Section
      section#about.container.content-section.text-center
        .row
          .col-lg-8.col-lg-offset-2
            h2 About DishOut

            p DishOut takes the stress out of organising food and requirements for an event. With an easy to use interface, you can
              strong  create
              |  and
              strong  host events, invite guests
              |  and
              strong organise
              |  what food you want at your event. You can even specify who should bring what dish!
            p If you regularly host events, and want to take the fuss out of your next dinner party, then DishOut is for you!
      // Download Section
      section#download.content-section.text-center
        .download-section
          .container
            .col-lg-8.col-lg-offset-2
              h2 Tell a Friend

              p With the more people you tell, the more chance you will see what dishes you ACTUALLY wanted at your next event. So tell a Friend!

              a.btn.btn-default.btn-lg(href='http://startbootstrap.com/template-overviews/grayscale/') Invite by Email
      // Contact Section
