.row
  #blackNav.col-md-12
  // Navigation
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
          i.fa.fa-bars

        a.navbar-brand.page-scroll(href='/')
          i.fa.fa-play-circle

          span.light
          |  DishOut
      // Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
        ul.nav.navbar-nav
          // Hidden li included to remove active class from about link when scrolled up past about section
          li.hidden
            a(href='#page-top')

          unless !user
            li
              a.page-scroll Welcome Back #{user.name}!

          unless user
            li
              a.page-scroll(href='/') Login

            li
              a.page-scroll(href='/') Signup

            li
              a.page-scroll(href='/#about') About
